<table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Team One</th>
        <th scope="col">Team Two</th>
        <th scope="col">Score One</th>
        <th scope="col">Score Two</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let match of matches">
        <th scope="row">{{match._id}}</th>
        <td>{{match.teamOne}}</td>
        <td>{{match.teamTwo}}</td>
        <td>{{match.scoreOne}}</td>
        <td>{{match.scoreTwo}}</td>
        <td> <button class="btn btn-info"(click)="displayMatch(match._id)">Display</button>
          <button class="btn btn-warning"(click)="goToEdit(match._id)">Edit</button>
          <button class="btn btn-danger"(click)="deleteMatch(match._id)">Delete</button>
      
      </tr>


    </tbody>
  </table>